.about {
    margin-bottom: 100px;

    @include phones() {
        margin-bottom: 50px;
    }
    
    .about__content {
        display: flex;

        @include phones() {
            flex-direction: column;
        }
    }
    
    .about__description {
        display: flex;
        flex-direction: column;
    }

    .about__text {
        font-size: 19px;
        font-weight: lighter;
    }

    .about__callback {
        border-right: none;
        border-radius: 0px 0px 0 70px;
        width: 110%;

        @include phones() {
            border: 3px solid $green;
            width: 100%;
        }
    }

    .callback__form {
        width: 90%;
    }

    .about__container-img {
        z-index: 2;

        @include phones() {
            order: -1;
        }

        .about__img {
            height: 100%;
            border-radius: 0 70px;

            @include phones() {
                height: initial;
                width: 100%;
            }
        }
    }
}