.services {

    .services__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        @include tablets() {
            flex-direction: column;
            margin-bottom: 0;
        }
    }

    .services__col {
        display: flex;
        flex-direction: column;
        background: #D5D5D5;
        border-radius: 0px 70px;
        width: 23%;
        padding: 25px 5px;

        @include tablets() {
            width: 100%;
            padding: 0;
            background: none;
        }
    }

    .services__block {
        display: flex;
        flex-direction: column;
        border: 2px solid #6D6D6D;
        border-radius: 0px 30px;
        margin-bottom: 20px;
        background: #fff;
        padding: 15px;
        transition: .3s;

        &:hover {
            background: $green;
        }

        .block__icon {
            width: 30px;
            height: 30px;
        }

        .block__title {
            font-size: 16px;
            margin: 9px 0;
            font-weight: bold;
        }

        .block__text {
            margin: 0;
            font-size: 16px;
        }
    }
}