@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.42;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    color: $black;
    font-size: 50px;
    user-select: none;
    font-weight: 600;
    font-size: 57px;
    line-height: 69px;
    text-transform: uppercase;

    @include phones() {
        font-size: 38px;
        text-align: center;
    }
}

.callback {
    border: 3px solid $green;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 70px 70px;
    position: relative;
    padding: 40px 40px 100px 40px;

    @include phones() {
        padding: 20px 20px 50px 20px;
    }

    .callback__title {
        color: $red;
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 0 80px 0;

        @include phones() {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }

    .callback__form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
            margin-bottom: 10px;
        }
    }

    .callback__input {
        border: none;
        border-bottom: 1px solid #000;
        color: #000;
        font-size: 16px;
        padding: 0 0 10px 0;
        transition: .3s;

        &::placeholder {
            color: rgba(0, 0, 0, 0.25);
        }

        &:focus {
            border-bottom: 1px solid $red;
            outline: none;
        }

        &:hover {
            border-bottom: 1px solid $red;
        }

        @include phones() {
            margin-bottom: 20px;
        }
    }

    .callback__btn {
        background: linear-gradient(180deg, #00EEE7 0%, #00B89C 100%);
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 30px 0px;
        padding: 18px 100px;
        position: absolute;
        bottom: -30px;
        left: 100px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            color: $red;
        }

        @include phones() {
            position: initial;
            padding: 9px 50px;
        }
    }
}